@use 'colors';
.test {
    height: 100vh;
    width: 100vw;
    &>span {
        height: 100% !important;
    }
}

.request {
    position: relative;
    width: 100%;
    height: 100vh;
    img {
        filter: brightness(0.5);
        height: 100%;
        width: 100%;
    }
    &_container {
        position: absolute;
        width: 600px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background-color: colors.$color-brand-primary2;
        border-radius: 10px;
        box-shadow: 10px 10px 20px #000;
        opacity: 80%;
        padding: 25px 25px 60px 25px;
        &_text {
            text-align: center;
            p {
                margin: 40px;
            }
             :nth-child(1) {
                font-weight: 700;
                font-size: 14px;
                color: colors.$primary-color;
                text-transform: uppercase;
            }
             :nth-child(2) {
                font-weight: 900;
                font-size: 54px;
                color: #fff;
            }
             :nth-child(3) {
                font-weight: 200;
                font-size: 22px;
                color: #fff;
            }
        }
        &_form {
            button {
                width: 100%;
                transition: all 0.6s 0.1s ease;
            }
             :hover {
                background-color: #fff !important;
                color: black !important;
            }
            &_input {
                margin: 15px 0;
                input {
                    color: #fff;
                    width: 100%;
                    padding: 15px 10px 10px 15px;
                    font-size: 18px;
                    background-color: rgb(15, 15, 15, 1);
                    border: none;
                    transition: outline 0.6s 0.1s ease;
                }
                 :active,
                 :hover,
                 :focus {
                    outline: 1px solid colors.$primary-color;
                }
            }
        }
    }
}