    .wrapper {
    background-color: #F15B5B;
    padding-bottom: 20px;
    padding-top: 20px;
    &_text {
        background-color: #151515;
        color: #fff;
        width: 100%;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
        border-radius: 20px;
    }
    h1 {
        font-size: 0px !important;
    }
    h2 {
        text-align: center;
    }
    p {
        text-align: left;
    }
}

;