                    @use 'colors';
                    @use 'fonts';
                    .wrapper {
                        width: 100vw;
                        height: 100vh;
                        background-color: #fff;
                        display: flex;
                        &_container {
                            width: 100%;
                            padding: 20px;
                            background-color: #F7F8FC;
                            &_header {
                                display: flex;
                                justify-content: space-between;
                                padding-bottom: 38px;
                                &_title {
                                    font-size: 22px;
                                    font-weight: 600;
                                }
                                &_user {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    &_nameUser {
                                        font-size: 16px;
                                        font-weight: 500;
                                        padding-right: 14px;
                                    }
                                    &_iconUser {
                                        background-color: #A4A6B3;
                                        width: 32px;
                                        height: 32px;
                                        border-radius: 50%;
                                    }
                                }
                            }
                            &_tableTop {
                                display: flex;
                                height: 90%;
                                justify-content: center;
                                &_block {
                                    width: 90%;
                                    background-color: #fff;
                                    border: 1px solid #DFE0EB;
                                    border-radius: 8px;
                                    padding: 32px 32px 0 32px;
                                    &_headerBlock {
                                        display: flex;
                                        justify-content: space-between;
                                        &_text {
                                            font-weight: bold;
                                            font-size: 19px;
                                        }
                                        &_sort {
                                            font-weight: 500;
                                            font-size: 12px;
                                        }
                                    }
                                    //         &_table_top {
                                    //             display: flex;
                                    //             justify-content: space-between;
                                    //             padding: 48px 0 0 0;
                                    //             width: 80%;
                                    //             color: #9FA2B4;
                                    //         }
                                    //         &_ticket {
                                    //             display: flex;
                                    //             justify-content: space-between;
                                    //             align-items: center;
                                    //             width: 88.5%;
                                    //             padding-top: 20px;
                                    //             &_one {
                                    //                 display: flex;
                                    //                 flex-direction: column;
                                    //                 justify-content: center;
                                    //                 &_name {
                                    //                     font-weight: bold;
                                    //                     font-size: 18px;
                                    //                 }
                                    //                 &_desc {
                                    //                     font-weight: 400;
                                    //                     font-size: 14px;
                                    //                 }
                                    //             }
                                    //             &_two {
                                    //                 display: flex;
                                    //                 flex-direction: column;
                                    //                 justify-content: center;
                                    //                 &_name {
                                    //                     font-weight: bold;
                                    //                     font-size: 18px;
                                    //                 }
                                    //                 &_desc {
                                    //                     font-weight: 400;
                                    //                     font-size: 14px;
                                    //                 }
                                    //             }
                                    //             &_three {
                                    //                 display: flex;
                                    //                 flex-direction: column;
                                    //                 justify-content: flex-end;
                                    //                 &_name {
                                    //                     font-weight: bold;
                                    //                     font-size: 18px;
                                    //                 }
                                    //                 &_desc {
                                    //                     font-weight: 400;
                                    //                     font-size: 14px;
                                    //                 }
                                    //             }
                                    //         }
                                    //     }
                                    // }
                                }
                            }
                        }
                    }
                    
                    .table {
                        padding-top: 20px;
                        max-width: auto;
                        margin-left: auto;
                        margin-right: auto;
                        padding-left: 10px;
                        padding-right: 10px;
                        li {
                            border-radius: 3px;
                            padding: 25px 30px;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 25px;
                        }
                        &_header {
                            background-color: colors.$primary-color;
                            font-size: 14px;
                            text-transform: uppercase;
                            letter-spacing: 0.03em;
                        }
                        &_row {
                            background-color: #ffffff;
                            box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
                        }
                        .col1 {
                            flex-basis: 28%;
                        }
                        .col2 {
                            flex-basis: 40%;
                        }
                        .col3 {
                            flex-basis: 25%;
                        }
                        .col4 {
                            flex-basis: 25%;
                        }
                        .col5 {
                            flex-basis: 0%;
                            Button {
                                padding: 2px 2px 2px 2px !important;
                                border: 2px solid colors.$color-brand-primary2;
                                border-radius: 7px;
                            }
                        }
                        .col6 {
                            padding-right: 70px;
                        }
                        @media all and (max-width: 767px) {
                            .table {
                                display: none;
                            }
                            &_row {}
                            li {
                                display: block;
                            }
                            .col {
                                flex-basis: 100%;
                            }
                            .col {
                                display: flex;
                                padding: 10px 0;
                                 :before {
                                    .col1 {
                                        content: "Детали";
                                    }
                                    .col2 {
                                        content: "ФИО";
                                    }
                                    .col3 {
                                        content: "Дата";
                                    }
                                    .col4 {
                                        content: "Телефон";
                                    }
                                    .col5 {
                                        content: ""
                                    }
                                    color: #6C7A89;
                                    padding-right: 10px;
                                    flex-basis: 50%;
                                    text-align: right;
                                }
                            }
                        }
                    }